up2p/test/eBooks_deprecated/e-books.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="EBook">
<xsd:complexType>
<xsd:all>
<xsd:element name="Title" type="xsd:string"/>
<xsd:element minOccurs="0" name="Author" type="xsd:string"/>
<xsd:element minOccurs="0" name="Source" type="xsd:string"/>
<xsd:element minOccurs="0" name="Language" type="xsd:string"/>
<xsd:element minOccurs="0" name="file" type="xsd:anyURI"/>
</xsd:all>
</xsd:complexType>
</xsd:element>
</xsd:schema>
